node_modules/.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
node_modules/
"@ | Out-File -Encoding utf8 .gitignore